# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.Python
.python-version

# Virtual environments
venv/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.vs
faiss_chunks.pkl
faiss_index.bin
uploads
.vscode


